/*
    Project: bioSite
    Filename: biostyle.css
    Written by: Eric McCool
    Instructor: Krasso
    Purpose: Stylesheet for the bioSite project
    Written on: 9/7/22 - initial commit
    Revised on: 9/9/22 - created some pages
    Revised on: 9/11/22 - created page header
    Revised on: 9/15/22 - added images, css 
    Revised on: 9/17/22 - working on the hobbies page 
    Revised on: 9/18/22 - placed images, added more content
    Revised on: 9/20/22 - worked links in, added more content
    Revised on: 9/22/22 - tried <figure> in index. Added meta for screen sizes.
    Revised on: 9/29/22 - Modest changes to home pics
    
    TODO: keep it clean, keep it DRY.
    Work on making a responsive site.
    Intro-pics in a gallery, maybe?
*/

body {
    width: 960px;
    margin: 0 auto;
    background-image: url("images/purpleSwirl.jpg");}

/*############ PAGE HEADER ###############*/
.page-header {
    width: 100%;
    height: 100px;
    background-color: #705CF2;
    border: solid 1px #F2F2F2;}
#bioName, #nav, #author {
    float: left;
    margin: 0px;}
#bioName {
    height: 100%;
    font-family: 'Oooh Baby', cursive;
    font-size: 32px;
    font-weight: bold;
    color: #F2F2F2;
    width: 25%;
    text-align: center;}
#nav {
    width: 50%;
    height: 100%;
    font-family: 'Archivo', sans-serif;
    font-size: medium;
    text-align: center;
    padding-top: 30px;}
#author {
    width: 24%;
    height: 100%;
    color: #F2F2F2;
    font-size: 10px;
    font-family: 'Archivo', sans-serif;
    text-align: right;
    padding-top: 60px;}
li {
    display: inline;
    padding: 40px;}
li a:link {
    color: #F2F2F2;
    text-decoration: none;}
li a:visited {
    color: #F2F2F2;}

/*############ CONTENT ##############*/
#opening-pics {
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto;}
.content-wrapper {
    width: 98%;
    color: #F2F2F2;
    background-color: #9080F2;
    border-left: 1px solid #F2F2F2;
    border-right: 1px solid #F2F2F2;
    margin: 20px auto;
    padding: 10px;}
.content-header {
    width: 98%;
    height: 75px;
    font-family: 'Quicksand', sans-serif;
    text-align: left;
    background-color: #705CF2;
    border: 1px solid #F2F2F2;
    padding-left: 15px;
    margin: auto;}
.content p {
    text-indent: 45px;
    text-align: justify;
    line-height: 1.4em;
    font-family: 'Manrope', sans-serif;
    font-size: larger;
    padding-left: 25px;
    padding-right: 25px;
    }
section.hobbies {
    width: 100%;
    float: left;}
article {
    clear: both;
    overflow: auto;
    width: 100%;}
hgroup {
    margin-top: 15;}
article figure {
    float: left;
    height: 200px;
    padding: 5px;
    margin: 20px;
    border: 1px solid #F2F2F2;}
figcaption {
    font-size: 90%;
    text-align: center;}
p img {
    margin-right: 25px;
    margin-bottom: 10px;
    border: 1px solid #F2F2F2;}
p a:link {
    color: #614BF2;
    text-decoration: none;}
p a:visited {
    color: #614BF2;}
p a:hover {
    text-decoration: underline;}
p a:active {
    color: #800080;}    
footer {
    width: 100%;
    height: 45px;
    color: #705CF2;
    background-color: #F2F2F2;
    text-align: left;
    padding-top: 25px;}