/*
    Project: bioSite_RWD
    Filename: biostyle.css
    Written by: Eric McCool
    Instructor: Krasso
    Purpose: Stylesheet for the bioSite project
    Note:   This is an updated version of the original 
            bioSite project, built to be a responsive layout.
    Written on: 9/30/22 - initial commit. completed skeleton and home
    Revised on: 10/1/22 - completed about, updated css
    Revised on: 10/2/22 - created background animation
    Revised on: 10/7/22 - fixed hobby links, styled the contacts page and form
    Revised on: 10/8/22 - used media queries to work with different screen sizes

    TODO: make the hobbies page pics flexible
          refactor. keep it clean, keep it DRY (shadow boxes)
          header name text shadow?
          so not 'accessibility' friendly. tab-order?
*/

/* The animation code for the background */
@keyframes purpleChange {
    0% {background-color: violet;}
    20% {background-color: magenta;}
    40% {background-color: darkorchid;}
    60% {background-color: darkviolet;}
    80% {background-color: magenta;}
    100% {background-color: violet;}}

/*  box-sizing includes padding/border dims to box sizes.
    * includes all elements */
* {
    box-sizing: border-box;}

/* Add backgrounds to the entire page */
html {
    /* background-image: url("images/purpleSwirl.jpg"); */
    animation-name: purpleChange;
    animation-timing-function: linear;
    animation-duration: 12s;
    animation-iteration-count: infinite;}

body {
    margin: 0;
    font-family: 'Manrope', sans-serif;}

/* style the page header */
header {
    color: #f2f2f2;
    background-color: #614bf2;
    border-top: 1px solid #f2f2f2;
    border-left: 1px solid #f2f2f2;
    text-align: center;
    padding: 1.25em;
    margin: 1.0em 1.0em 0 1.0em;
    box-shadow: 0.625em 0.625em 0.3125em #333;}
#bioName {
    font-family: 'Oooh Baby', cursive;
    font-size: 4em;}

/* style the navbar and links */
#navbar {
    overflow: hidden;
    background-color: #705cf2;
    border-left: 1px solid #f2f2f2;
    text-align: center;
    padding: 0.5em;
    margin: 0 1.0em 1.0em 1.0em;
    box-shadow: 0.625em 0.625em 0.3125em #333;}
#navbar a:link {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 1.0em 1.0em;
    border-radius: 0.5em;
    text-decoration: none;}
#navbar a:visited {
    color: #f2f2f2;}
#navbar a:hover {
    border: 1px solid #f2f2f2;
    background-color: #614bf2;}
#navbar a:active {
    color: #333;}

/* style the home image gallery for responsiveness */
.gallery {
    display: flex;
    flex-direction: row;}
.gallery-item {
    flex: 33.33%;
    max-width: 33.33%;
    padding: 1.0em;}
.gallery-item img {
    max-width: 100%;
    height: auto;
    border-top: 1px solid #f2f2f2;
    border-left: 1px solid #f2f2f2;
    box-shadow: 0.625em 0.625em 0.3125em #333;}

/* style the content of every page */
#content-header, footer {
    overflow: hidden;
    background-color: #705cf2;
    color: #f2f2f2;
    text-align: left;
    padding: 0.5em 1.0em;
    margin: 0 1.0em;
    border-top: 1px solid #f2f2f2;
    border-left: 1px solid #f2f2f2;
    box-shadow: 0.625em 0.625em 0.3125em #333;}
#content-container {
    background-color: #f2f2f2;
    color: #808080;
    padding: 0.5em 1.0em;
    margin: 1.0em 1.0em ;
    border-top: 1px solid #f2f2f2;
    border-left: 1px solid #f2f2f2;
    box-shadow: 0.625em 0.625em 0.3125em #333;}
.content > p {
    text-indent: 2.5em;
    text-align: justify;
    line-height: 1.4em;
    font-size: larger;
    padding: 0 2.5em;}

/* style the hobbies page content */
article {
    clear: both;
    overflow: hidden;
    width: 100%;
    border: 1px solid #808080;
    border-radius: 0.5em;
    margin: 2px;}
hgroup {
    margin-top: 1.5em;}
figure {
    float: left;
    max-width: 100%;
    height: auto;
    padding: 0.3em;
    margin: 1.25em;
    border-top: 1px solid #333;
    border-left: 1px solid #333;
    box-shadow: 0.625em 0.625em 0.3125em #333;}
figcaption {
    font-size: 90%;
    text-align: center;}
p > a {
    color: #705cf2;
    text-decoration: none;}

/* style the about page portrait */
p img {
    margin-right: 1.2em;
    border-top: 1px solid #333;
    border-left: 1px solid #333;
    box-shadow: 0.625em 0.625em 0.3125em #333;}
    
/* style the contact page and form */
.content-contact {
    display: flex;
    flex-direction: row-reverse;}
.content-item {
    flex: 50%;
    max-width: 50%;
    padding: 1.0em;}
form {
    width: 100%;
    height: auto;
    float: right;
    margin: 1.25em 1.0em}
legend {
    margin-bottom: 0.75em;}
input[type=text], textarea {
    font-family: 'Quicksand', sans-serif;
    font-size: 1.0em;
    font-weight: 500;
    color: #808080;
    letter-spacing: 1px;
    width: 20em;
    padding: 0.75em;
    margin-bottom: 0.75em;
    border-radius: 0.5em;}
textarea {
    width: 100%;
    height: 10.0em;}
button {
    font-size: 1.0em;
    background-color: #705cf2;
    color: #f2f2f2;
    padding: 8px;
    margin: 0.75em 1.25em;
    border-radius: 0.5em;
    box-shadow: 0.625em 0.625em 0.3125em #333;}
button:hover {
    background-color: #614bf2;}

/* style the footer */
footer {
    padding: 1.0em;    
    margin-bottom: 1.5em;}

/* restrain the body to 1200px when on a desktop or big screen */
@media only screen and (min-width: 1200px) {
    body {
        width: 1200px;
        margin: 0 auto;}
}

/* stack the contact row into a column when screen size is < 768px */
@media only screen and (max-width: 768px) {
    .content-contact {
        display: flex;
        flex-direction: column-reverse;}
    .content-item {
        flex: 100%;
        max-width: 100%;
        padding: 1.0em;}
    
}

