/*
    Project: bioSite_RWD
    Filename: biostyle.css
    Written by: Eric McCool
    Instructor: Krasso
    Purpose: Stylesheet for the bioSite project
    Note:   This is an updated version of the original 
            bioSite project built to be a responsive layout.
    Written on: 9/30/22 - initial commit. completed skeleton and home
    Revised on: 10/1/22 - completed about, updated
*/

/* The animation code for the background */
@keyframes purpleChange {
    0% {background-color: violet;}
    20% {background-color: magenta;}
    40% {background-color: darkorchid;}
    60% {background-color: darkviolet;}
    80% {background-color: magenta;}
    100% {background-color: violet;}}

* {
    box-sizing: border-box;}

html {
    /* background-image: url("images/purpleSwirl.jpg"); */
    animation-name: purpleChange;
    animation-timing-function: linear;
    animation-duration: 12s;
    animation-iteration-count: infinite;}

body {
    margin: 0;
    font-family: 'Manrope', sans-serif;}

header {
    color: #f2f2f2;
    background-color: #614bf2;
    border-top: 1px solid #f2f2f2;
    border-left: 1px solid #f2f2f2;
    text-align: center;
    padding: 1.25em;
    margin: 1.0em 1.0em 0 1.0em;
    box-shadow: 0.625em 0.625em 0.3125em #333;}
#bioName {
    font-family: 'Oooh Baby', cursive;
    font-size: 4em;}

#navbar {
    overflow: hidden;
    background-color: #705cf2;
    border-left: 1px solid #f2f2f2;
    text-align: center;
    padding: 0.5em;
    margin: 0 1.0em 1.0em 1.0em;
    box-shadow: 0.625em 0.625em 0.3125em #333;}
#navbar a:link {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 1.0em 1.0em;
    border-radius: 0.5em;
    text-decoration: none;}
#navbar a:visited {
    color: #808080;}
#navbar a:hover {
    border: 1px solid #f2f2f2;
    background-color: #614bf2;}
#navbar a:active {
    color: #333;}

.gallery {
    display: flex;
    flex-direction: row;}
.gallery-item {
    flex: 33.33%;
    max-width: 33.33%;
    padding: 1.0em;}
.gallery-item img {
    max-width: 100%;
    height: auto;
    border-top: 1px solid #f2f2f2;
    border-left: 1px solid #f2f2f2;
    box-shadow: 0.625em 0.625em 0.3125em #333;}

#content-header, footer {
    overflow: hidden;
    background-color: #705cf2;
    color: #f2f2f2;
    text-align: left;
    padding: 0.5em 1.0em;
    margin: 0 1.0em;
    border-top: 1px solid #f2f2f2;
    border-left: 1px solid #f2f2f2;
    box-shadow: 0.625em 0.625em 0.3125em #333;}
#content-container {
    background-color: #f2f2f2;
    color: #808080;
    padding: 0.5em 1.0em;
    margin: 1.0em 1.0em ;
    border-top: 1px solid #f2f2f2;
    border-left: 1px solid #f2f2f2;
    box-shadow: 0.625em 0.625em 0.3125em #333;}
.content > p {
    text-indent: 45px;
    text-align: justify;
    line-height: 1.4em;
    font-size: larger;
    padding-left: 25px;
    padding-right: 25px;}
    
article {
    clear: both;
    overflow: hidden;
    width: 100%;}
hgroup {
    margin-top: 15;}
article figure {
    float: left;
    height: 200px;
    padding: 5px;
    margin: 20px;
    border: 1px solid #F2F2F2;}
figcaption {
    font-size: 90%;
    text-align: center;}
    
p img {
    margin-right: 1.0em;
    border-top: 1px solid #f2f2f2;
    border-left: 1px solid #f2f2f2;
    box-shadow: 0.625em 0.625em 0.3125em #333;}    

footer {
    padding: 1.0em;    
    margin-bottom: 1.5em;}




